h1{color:white; font-family:Berlin Sans FB Demi;background-color:rgb(86, 56, 89);}
h2{color:rgb(123, 56, 109);}
	p{background-color:pink; color:black; font-family:Kristen ITC;}
	table{background-color:pink; color:black;}
	ul{color:purple;}
	ol{color:purple; background-color:rgb(255, 101, 120);}
	form{background-color:pink; color:purple;} 